    <section class="blog-section" id="blogs">
        <div class="container">
            <div class="row">
           
                <h5 class="blog-subtitle text-center">Blogs</h5>
                <h4 class="blog-title text-center">Our Recent Post & News</h4>
                <p class="mt-2 text-center blog-subcnt">Some quick example text to build on the card title</p>
                <owl-carousel-o [options]="customOptions">
                  
                     <ng-template carouselSlide>
                                            <div class="card mt-4  blog-card">
                                                <img src="../../../../assets/images/ui-ux.jpeg" class="card-img-top" alt="...">
                    
                                 <div class="card-body blog-card-body">
                                    <div class="row blog-userdtls">
                                        <div class="col col-md-6">
                                            <span class="material-symbols-outlined"> account_circle</span>
                                            <span class="blog-username">John</span> 
                                            </div>
                                            <div class="col col-md-6">
                                                <span class="material-symbols-outlined">  shoppingmode  </span>
                                                <span class="blog-username"> sample text</span> 
                                               
                                            </div>
                                    </div>
                                  <h3 class="fw-bold flex-text">Deliverying the Best <br> web Design Agency  </h3>
                                 
                                   <button class="btn btn-primary mt-3 mb-3">Read More <span class="fas fa-arrow-right"></span></button>
                                 </div>
                               </div>
                                        </ng-template>  
                                        <ng-template carouselSlide>
                                            <div class="card mt-4  blog-card">
                                                <img src="../../../../assets/images/ui-ux.jpeg" class="card-img-top" alt="...">
                    
                                 <div class="card-body blog-card-body">
                                    <div class="row blog-userdtls">
                                        <div class="col col-md-6">
                                            <span class="material-symbols-outlined"> account_circle</span>
                                            <span class="blog-username">John</span> 
                                            </div>
                                            <div class="col col-md-6">
                                                <span class="material-symbols-outlined">  shoppingmode  </span>
                                                <span class="blog-username"> sample text</span> 
                                               
                                            </div>
                                    </div>
                                  <h3 class="fw-bold flex-text">Deliverying the Best <br> web Design Agency </h3>
                                   
                                   <button class="btn btn-primary mt-3 mb-3">Read More <span class="fas fa-arrow-right"></span></button>
                                 </div>
                               </div>
                                        </ng-template>  
                                        <ng-template carouselSlide>
                                            <div class="card mt-4  blog-card">
                                                <img src="../../../../assets/images/ui-ux.jpeg" class="card-img-top" alt="...">
                    
                                 <div class="card-body blog-card-body">
                                    <div class="row blog-userdtls">
                                        <div class="col col-md-6">
                                            <span class="material-symbols-outlined"> account_circle</span>
                                            <span class="blog-username">John</span> 
                                            </div>
                                            <div class="col col-md-6">
                                                <span class="material-symbols-outlined">  shoppingmode  </span>
                                                <span class="blog-username"> sample text</span> 
                                               
                                            </div>
                                    </div>
                                  <h3 class="fw-bold flex-text">Deliverying the Best <br> web Design Agency</h3>
                                   
                                   <button class="btn btn-primary mt-3 mb-3">Read More <span class="fas fa-arrow-right"></span></button>
                                 </div>
                               </div>
                                        </ng-template>  
                                        <ng-template carouselSlide>
                                            <div class="card mt-4  blog-card">
                                                <img src="../../../../assets/images/ui-ux.jpeg" class="card-img-top" alt="...">
                    
                                 <div class="card-body blog-card-body">
                                    <div class="row blog-userdtls">
                                        <div class="col col-md-6">
                                            <span class="material-symbols-outlined"> account_circle</span>
                                            <span class="blog-username">John</span> 
                                            </div>
                                            <div class="col col-md-6">
                                                <span class="material-symbols-outlined">  shoppingmode  </span>
                                                <span class="blog-username"> sample text</span> 
                                               
                                            </div>
                                    </div>
                                  <h3 class="fw-bold flex-text">Deliverying the Best <br> web Design Agency</h3>
                                   
                                   <button class="btn btn-primary mt-3 mb-3">Read More <span class="fas fa-arrow-right"></span></button>
                                 </div>
                               </div>
                                        </ng-template>  
                                        <ng-template carouselSlide>
                                            <div class="card mt-4  blog-card">
                                                <img src="../../../../assets/images/ui-ux.jpeg" class="card-img-top" alt="...">
                    
                                 <div class="card-body blog-card-body">
                                    <div class="row blog-userdtls">
                                        <div class="col col-md-6">
                                            <span class="material-symbols-outlined"> account_circle</span>
                                            <span class="blog-username">John</span> 
                                            </div>
                                            <div class="col col-md-6">
                                                <span class="material-symbols-outlined">  shoppingmode  </span>
                                                <span class="blog-username"> sample text</span> 
                                               
                                            </div>
                                    </div>
                                  <h3 class="fw-bold flex-text">Deliverying the Best <br> web Design Agency </h3>
                                   
                                   <button class="btn btn-primary mt-3 mb-3">Read More <span class="fas fa-arrow-right"></span></button>
                                 </div>
                               </div>
                                        </ng-template>  
                                        <ng-template carouselSlide>
                                            <div class="card mt-4  blog-card">
                                                <img src="../../../../assets/images/ui-ux.jpeg" class="card-img-top" alt="...">
                    
                                 <div class="card-body blog-card-body">
                                    <div class="row blog-userdtls">
                                        <div class="col col-md-6">
                                            <span class="material-symbols-outlined"> account_circle</span>
                                            <span class="blog-username">John</span> 
                                            </div>
                                            <div class="col col-md-6">
                                                <span class="material-symbols-outlined">  shoppingmode  </span>
                                                <span class="blog-username"> sample text</span> 
                                               
                                            </div>
                                    </div>
                                  <h3 class="fw-bold flex-text">Deliverying the Best <br> web Design Agency</h3>
                                   
                                   <button class="btn btn-primary mt-3 mb-3">Read More <span class="fas fa-arrow-right"></span></button>
                                 </div>
                               </div>
                                        </ng-template> 
                    
                     </owl-carousel-o>
            </div>
          </div>
    </section>
    
