<section class="project__sec pt-5 pb-5" id="projects">
    <div class="container">
        <div class="row">
          <div class="col col-md-3 col-6 col-lg-3 text-center">
            <p class="project__sec__img"><img src="../../../../assets/images/analysis.png" alt="analysis" class="img-fluid"></p>
           <!-- <h3>4500</h3> -->
              <p  class="project__sec__desc">Google Analytics</p>
          </div>
          <div class="col col-md-3 col-6 col-lg-3 text-center">
            <p class="project__sec__img"><img src="../../../../assets/images/semrush.png" alt="analysis" class="img-fluid"></p>
            <!-- <h3>2500</h3> -->
            <p class="project__sec__desc">Semrush</p>
          </div>
          <div class="col col-md-3 col-6 col-lg-3 text-center">
            <p class="project__sec__img"><img src="../../../../assets/images/ads.png" alt="analysis" class="img-fluid"></p>
            <!-- <h3>1500</h3>  -->
            <p class="project__sec__desc">Google ads</p>
            
          </div>
          <div class="col col-md-3 col-6 col-lg-3 text-center">
            <p class="project__sec__img"><img src="../../../../assets/images/hubspot.png" alt="analysis" class="img-fluid"></p>
            <!-- <h3>2500</h3> -->
            <p class="project__sec__desc">Hubspot </p>
          </div>
        </div>
      </div>
</section>

<section class="business__sec pt-5 pb-5">
    <div class="container business__sec__cont">
        <div class="business__sec__cont__getstarted">
          <h2 class="business__sec__cont__title">Let's Get Your Project Started <span class="btn btn-primary business__sec__cont__btn float-end"> Connect With us</span> </h2>
        </div>
    </div>
  <div class="container mb-4 business__sec__project">
    
    <div class="row mt-5 mb-5">
      <h4 class="business__sec__project__title text-center mb-4">Making Your  Successful <br>Business With Us</h4>

         <div class="col col-12 col-lg-3 col-md-3 col-sm-6 card1">
            <div class="business__sec__project__card text-center">
                <div class="business__sec__project__cardbody">
                    <span class="card-num">1</span> 
                  <h5 class="business__sec__project__cardtitle">Comprehending Project Needs </h5>
                  <p class="business__sec__project__cardtext">Needs We engage with our clients to review project objectives, market dynamics, competition, and the present scenario.</p>
                </div>
              </div>
         </div>
         <div class="col col-12 col-lg-3 col-md-3 col-sm-6 card2">
            <div class="business__sec__project__card text-center">
                <div class="business__sec__project__cardbody">
                    <span class="card-num"> 2</span>
                  <h5 class="business__sec__project__cardtitle">Creating a Customized Strategy </h5>
                  <p class="business__sec__project__cardtext">Following our consultation, we develop a tailored plan that aligns with our client's specific needs</p>
                </div>
              </div>
         </div>
         <div class="col col-12 col-lg-3 col-md-3 col-sm-6 card1">
            <div class="business__sec__project__card text-center">
                <div class="business__sec__project__cardbody">
                    <span class="card-num"> 3</span>
                  <h5 class="business__sec__project__cardtitle">Commencing the Implementation </h5>
                  <p class="business__sec__project__cardtext">Subsequently, we initiate the project and commence website optimization. We diligently track and update our clients on the progress we achieve.</p>
                </div>
              </div>
         </div>
         <div class="col col-12 col-lg-3 col-md-3 col-sm-6 card2">
            <div class="business__sec__project__card text-center">
                <div class="business__sec__project__cardbody">
                    <span class="card-num"> 4</span>
                  <h5 class="business__sec__project__cardtitle">Achieving Outcomes </h5>
                  <p class="business__sec__project__cardtext">We are committed to implementing all necessary steps to support you in attaining your desired results.</p>
                </div>
              </div>
         </div>
    </div>
</div>
</section>

