<header class="header">
<div class="container  custom-top fixed-top p-0 p-md-2 pt-md-0">

  <nav class="navbar navbar-light navbar-expand-md header__nav">
    <div class="container-fluid p-0">
      <a class="navbar-brand header__logo" href="#"><img src="../../../assets/images/logo1.png" class="img-fluid" alt="logo"></a>
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
        <i class="fi fi-sr-menu-burger"></i>
      </button>
      <div id="navbar" class="collapse navbar-collapse">
        <div class="row navbar-row mx-0">
          <div class="col-12 ps-0 ms-auto header__menu">
            <ul class="navbar-nav float-none float-md-end d-flex justify-content-start">
              <li class="nav-item">
                <a class="header__link active" aria-current="page" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="header__link" href="#about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="header__link"  href="#services">Services</a>
              </li>
             <!-- <li class="nav-item">
                <a class="header__link" href="#blogs">Blogs</a>
              </li>-->
              
              <li class="nav-item">
                <a class="header__link" href="#requestquote"><button class="btn btn-primary">Get Quote</button> </a>
              </li>
            </ul>
          </div>
          <div class="col-12 ps-0 order-md-first header__support">
            <ul class="list-unstyled ms-3">
              <li class="nav-item float-none float-md-start">
                  <ul class="list-inline">
                    <li class="list-inline-item p-2">Monday - Sunday</li><span>|</span>
                    <li class="list-inline-item p-2">9am - 9pm</li>  
                    <!-- <span>|</span> -->
                    <!-- <li class="list-inline-item p-2"> Customer Support</li> -->
                  </ul>
              </li>
              <li class="nav-item float-none float-md-end">
                <ul class="list-inline">
                  <li class="list-inline-item p-2"> Follow Us </li>
                  <li class="list-inline-item p-2"> <a class="header__link" href="#" title="fb"><i class="fa-brands fa-facebook-f"></i></a></li>
                  <li class="list-inline-item p-2"> <a class="header__link" href="#" title="tw"> <i class="fa-brands fa-twitter"></i></a></li>
                  <li class="list-inline-item p-2"> <a class="header__link" href="#" title="ins"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>


  </div>
</header>
  <app-banner></app-banner>