<section class="pricing-section">
    <div class="container">
        <div class="row">
            <h5 class="pricing-subtitle text-center">Pricing Table</h5>
            <h4 class="pricing-title text-center">Start Growing Your Business</h4>
            <p class="mt-2 text-center price-subcnt">Some quick example text to build on the card title</p>
          <div class="col col-md-4">
            <div class="card mt-4 price-card text-center">
               <span class="material-symbols-outlined mt-4">
                    rocket_launch
                    </span>
                <div class="card-body">
                  <h5 class="card-title">Basic Plan</h5>
                  <h3 class="fw-bold">$300</h3>
                  <ul class="list-unstyled">
                    <li>10 Projects</li>
                    <li>100 GB space</li>
                    <li>20 SEO checkups</li>
                    <li>Basic Support</li>
                  </ul>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col col-md-4">
            <div class="card mt-4 price-card text-center">
                <span class="material-symbols-outlined mt-4">
                    rocket_launch
                    </span>
                <div class="card-body">
                  <h5 class="card-title">Gold Plan</h5>
                  <h3 class="fw-bold">$400</h3>
                  <ul class="list-unstyled">
                    <li>10 Projects</li>
                    <li>100 GB space</li>
                    <li>20 SEO checkups</li>
                    <li>Basic Support</li>
                  </ul>
                   <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col col-md-4">
            <div class="card mt-4 price-card text-center">
                <span class="material-symbols-outlined mt-4">
                    rocket_launch
                    </span>
                <div class="card-body">
                  <h5 class="card-title">Diamond plan</h5>
                  <h3 class="fw-bold">$600</h3>
                  <ul class="list-unstyled">
                    <li>10 Projects</li>
                    <li>100 GB space</li>
                    <li>20 SEO checkups</li>
                    <li>Basic Support</li>
                    
                  </ul>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
        </div>
      </div>
</section>
