

.myRowStyle {
    border-bottom: 1px solid #ddd;
    color: rgb(68, 68, 68);
    padding: 1em;
    margin: 0;
    cursor: pointer;
  }
  
  .myRowStyle:nth-child(even) {background-color: #ebebeb;}
  
  .myRowStyle:hover {background-color: rgb(243, 243, 243);}
  
  /* Modal */
    /* The Modal (background) */
    .modal {    
      display: block; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1000; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
      animation: fadeInAnimation ease 2s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
    }
 
    /* Modal Content */
    .modal-content {
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 50%;
      background: url(../../../../assets/images/buble.png) no-repeat top -98px right -99px #030617!important;
      border-radius: 3px!important;
      color:#fff!important;
    }
    .modal-content h4 {
        text-transform: uppercase;
    }
    /* The Close Button */
    .close {
      color: #db6f02;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
  
    .close:hover,
    .close:focus {
      color: #db6f02;
      text-decoration: none;
      cursor: pointer;
    }
    .modal-content button.btn.btn-danger {
        background: linear-gradient(to bottom, #ff9623, #db6f02);
    }
    .modal-content p {
        font-size: 13px;
      }

      @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
  
        100% {
            opacity: 1;
        }
    }
    @keyframes fade-out {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }