<section class="feedback__sec pt-5 pb-5">
    <div class="container feedback-cnt mt-5 mb-5">
        <div class="row feed-div">
            <div class="col col-12 col-lg-12 col-md-12">
                <h2 class="mb-4 text-center feedback__sec__heading">What Are the Benefits of Digital Marketing Services for Your Business?</h2>
                   <p class="text-center feedback__sec__headingsub">Digital marketing services empower businesses to expand their reach, implement data-driven strategies, enhance competitiveness, evaluate progress, and elevate customer interactions. Without the support of a top-tier digital marketing company, you could be overlooking substantial opportunities for growth.</p>
                  <div class="row mt-4 mb-4">
                   <p class="col col-12 col-lg-6 col-sm-6 mb-2"><span class="feedback__sec__ourbenifitscnt"><i class="fi fi-br-check"></i> Missed opportunities to attract customers</span></p>
                   <p class="col col-12 col-lg-6 col-sm-6 mb-2"><span class="feedback__sec__ourbenifitscnt"><i class="fi fi-br-check"></i> Limited reach and engagement for businesses</span></p>
                   <p class="col col-12 col-lg-6 col-sm-6 mb-2"><span class="feedback__sec__ourbenifitscnt"><i class="fi fi-br-check"></i> Competitors' ongoing business advancement</span></p>
                   <p class="col col-12 col-lg-6 col-sm-6 mb-2"><span class="feedback__sec__ourbenifitscnt"><i class="fi fi-br-check"></i> Absence of a viable plan for action</span></p>
                   <p class="col col-12 col-lg-6 col-sm-6 mb-2"><span class="feedback__sec__ourbenifitscnt"><i class="fi fi-br-check"></i> Reduced conversion rates or overlooked sales opportunities</span></p>
                   <p class="col col-12 col-lg-6 col-sm-6 mb-2"><span class="feedback__sec__ourbenifitscnt"><i class="fi fi-br-check"></i> Deficiency in expert digital guidance and experience</span></p>
                  </div>
                 
            </div>
          
        </div>
      
          <div class="row feedback__sec__cnt feedback-faq mt-5">
              <div class="col col-12 col-lg-6 col-md-6">
                  <h3 class="feedback__sec__cnt__subtitle feedback-company mb-3">Frequently asked Questions  <span class="border-title"></span></h3>
                  <h2 class="mb-3 feedback__sec__cnt__title"> Your  Are Confused! Question <br>and Answers.</h2>
                  <div class="accordion" id="accordionExample">
                      <div class="accordion-item">
                        <h2 class="feedback__sec__cnt__accordionheader" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           
                          </button>
                          <span class="feedback__sec__cnt__faqtitle"> what is digital marketing? </span>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                           <p class="feedback__sec__cnt__desc"> Digital marketing encompasses all aspects and activities of marketing an organization, business, or brand across digital channels on the internet. Digital marketing strategies and tactics are crafted to target specific online audiences across a variety of internet-connected devices. </p>
                            <p class="feedback__sec__cnt__desc">Digital marketing includes optimization across search engines (the likes of Google and Bing), visibility and engagement on social media platforms, email marketing communications, website design and development and integrated applications to connect and engage with prospects and customers. </p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="feedback__sec__cnt__accordionheader" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            
                          </button>
                          <span class="feedback__sec__cnt__faqtitle"> what does a digital marketer do? </span>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <p>A digital marketer is a marketing specialist who understands how to develop and deploy effective marketing strategies online. A digital marketer understands connecting with an online audience. They can ensure your brand engages with your consumer from the first point of contact through after-sales service.</p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="feedback__sec__cnt__accordionheader" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            
                          </button>
                           <span class="feedback__sec__cnt__faqtitle"> would my business benefit from digital marketing services?  </span>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <p>Every single brand has to have an online representation of the business. However, your digital footprint won't have any impact if you don't market it successfully. Every business would benefit from an ongoing, comprehensive digital marketing strategy and the support of an expert marketing team. </p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="feedback__sec__cnt__accordionheader" id="headingfour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
                            
                          </button>
                           <span class="feedback__sec__cnt__faqtitle"> how cost-effective is digital marketing compared with traditional marketing?</span>
                        </h2>
                        <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <p>Digital marketing is cost-effective in that you can get your message directly in front of your ideal audience. Consider that traditional marketing casts a wide net across the general public. In contrast, digital marketing takes a targeted approach and engages the consumer with the right message at the right time. You can measure your digital marketing efforts and the costs involved quite easily and mitigate unnecessary spending. This is far more difficult with traditional marketing campaigns. What's more, the costs involved with hiring a digital marketing agency are dependent on the project scope. </p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="feedback__sec__cnt__accordionheader" id="headingfive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapseThree">
                            
                          </button>
                           <span class="feedback__sec__cnt__faqtitle"> how do you identify a successful digital marketing company? 
                          </span>
                        </h2>
                        <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <p>Look for a company that takes the time to assess your current and future marketing needs. A digital marketing agency worth its salt won’t promise immediate results because digital strategies take time to yield results. But it will boast a team of experts able to identify needs and gaps in your current strategy. What’s more, they will work with you to establish outcomes, align with your goals and offer consistent, transparent reporting. Be cautious about companies offering a quick fix. Choose an agency with proven successes, client testimonials and case studies and outstanding reviews across their services. </p>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="col col-12 col-lg-6 col-md-6">
                <img src="../../../../assets/images/feed1.png" alt="feed" class="img-fluid">
              </div>
          </div>
      
    </div>

    
</section>
