<section class="footer__sec">

  <div class="container footer__sec__cnt pb-5">
  
      <div class="row">
        <div class="col col-md-3 col-lg-3 col-12 mt-3 footer-logo">
          <img src="../../../../assets/images/footerlogo.png" alt="logo" class="img-fluid">
          <p class="mt-3">We'll transform your business into a thriving hive with our digital marketing expertise.
          </p>
  
        </div>
        <div class="col col-md-3 col-lg-3 col-12 mt-3 footer-links">
          <h4 class="footer__sec__heading mb-3">Contact Us</h4>
          <ul class="list-unstyled">
              <li class="mt-2"><span class="material-symbols-outlined">call </span>000-93242-34212</li>
              <li class="mt-2"><span class="material-symbols-outlined"> mail</span>info&#64;bhiive.com</li>
              <!-- <li class="mt-2"><span class="material-symbols-outlined"> location_on </span>No 9, Brrokylin golden street </li> -->
             
          </ul>
        </div>
        <div class="col col-md-3 col-lg-3 col-12 mt-3 footer-links">
          <h4 class="mb-3 footer__sec__heading">Social Media links</h4>
          <ul class="list-unstyled socialmedia">
              <li class="mt-2"> <a><i class="fa-brands fa-facebook-f"></i> &nbsp; facebook</a></li>
              <li class="mt-2"> <a><i class="fa-brands fa-twitter"></i>&nbsp; twitter</a></li>
              <li class="mt-2"> <a><i class="fa-brands fa-instagram"></i> &nbsp; instagram</a></li>
              <li class="mt-2"> <a><i class="fa-brands  fa-linkedin-in"></i>&nbsp; linkedin</a></li>
          </ul>
        </div>
        
        <div class="col col-md-3 col-lg-3 col-12 mt-3 footer-links subcribe-cnt">
          <h4 class="mb-3 footer__sec__heading">Subcribe Now</h4>
          <p class="mt-3">Some quick example text to build on the card title </p>
          <p class="mt-2 subscribe-email">Email  <span class="material-symbols-outlined float-end">near_me</span></p>
          <p class="mt-2">I agree all terms and conditions </p>
        </div>
      </div>
    </div>
    <div class="footer-bottom bg-dark text-light pt-3 pb-2">
      <div class="container">
        <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2024 bhiive.com. All Rights Reserved</p>
        </div>
      </div>
    </div>
    </div>
  </section>